// Globals
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-page-bg);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}


// Resume layout
.resume {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-gap: 0 10%;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: 
      "header header header header"
      "main   main   main   aside "
      "footer footer footer footer";
  }
  
  margin: calc(var(--space-lg) * 2) auto;
  padding: var(--space-lg);
  max-width: var(--page-width);
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: var(--text-normal);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-base-line-height);
  color: var(--color-primary);
}

.resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: header-reveal-text var(--anim-speed) var(--anim-delay) var(--anim-easing) forwards;
  
  @media(min-width: $breakpoint-small) {
    margin-left: -8px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
}

.resume-header   { grid-area: header; }
.resume-content  { grid-area: main;   }
.resume-sidebar  { grid-area: aside;  }


// Section
.resume-section {
  margin: calc(var(--space-lg) * 2) 0;
}
