// Vertical rhythm helper
.flow {
  > *:not(:last-child) {
    margin-bottom: var(--space-lg);
  }
  
  > *:not(:first-child) {
    opacity: 0;
    animation: content-reveal-text var(--anim-speed) calc(var(--anim-delay) * 2) var(--anim-easing) forwards;
  }
}


// Text styles
a {
  color: var(--color-secondary);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

em {
  font-style: italic;
}

h1, .h1 { 
  font-family: var(--font-secondary);
  font-size: var(--text-lg);
  font-weight: var(--text-bold);
  line-height: 1.2;
}

h2, .h2 {
  font-family: var(--font-secondary);
  font-size: var(--text-md);
  font-weight: var(--text-normal);
  line-height: 1.3;
}

h3, .h3 {
  display: inline-block;
  position: relative;
  padding-right: 0.325rem;
  font-family: var(--font-secondary);
  font-size: var(--text-md);
  font-weight: var(--text-bold);
  letter-spacing: 0;
  line-height: 1.15;
  color: var(--color-primary);
  animation: headline-reveal-text calc(var(--anim-speed) * 3) var(--anim-easing);
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--border-stroke-width) * 2);
    background-color: var(--color-secondary);
    border-radius: 1px;
    transform-origin: 0 0;
    transform: scaleX(0);
    animation: headline-reveal-bar var(--anim-speed) var(--anim-delay) var(--anim-easing) forwards;
  }
  
  &:after {
    content: '';
    display: block;
    margin-top: var(--border-stroke-width);
    width: 36px;
    height: var(--border-stroke-width);
    background-color: var(--color-secondary);
    z-index: -1;
    transform-origin: 0 0;
    border-radius: 1px;
    transform: scaleX(0);
    animation: headline-reveal-line calc(var(--anim-speed) / 3) calc(var(--anim-delay) * 1.75) var(--anim-easing) forwards;
  }
}

h4, .h4 {
  font-family: var(--font-secondary);
  font-size: var(--text-base);
  font-weight: var(--text-bold);
}


// Lists
.primary-list {
  dt, dd {
    display: inline;
  }
  
  dt { 
    font-weight: bold;
    
    &:after { 
      content: ":"
    }
  }
  
  dd:not(:last-child):after {
    content: ","
  }
}