// The colors, children!
$color-bg: #FFF9F2;
$color-blue: #00B4FF;
$color-gray-dark: #515151;

$color-block-facts: white;
$color-block-facts-outline: $color-blue;
$color-link: $color-blue;
$color-link-alt: $color-gray-dark;
$color-text: $color-gray-dark;

$color-hexagon: $color-blue;
$color-circle: $color-gray-dark;

// Fonts
$font-header: 'Fredoka One', sans-serif;
$font-body: 'Lato', serif;
$font-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Layout
$width-wrapper: 450px;
$bp-small: 540px;

// Hexagon dimensions
$hex-width: 80px;
$hex-height: 46.19px;
$hex-border-TB: 23.09px;
$hex-border-LR: 40px;

// Circle dimensions
$circle-size: 24px;
