# Folders #
###########
.vscode
node_modules

# Numerous always-ignore extensions #
#####################################
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.patch
*.map